@import url("../../../keyframes.scss");

@media (min-width: 1000px) {
	.greeting {
		padding: 0px 100px;
		display: flex;
		justify-content: space-between;
		align-content: center;

		.container-1 {
			display: flex;
			position: relative;

			.icon {
				display: flex;
				height: 45%;
				top: 45%;
				position: absolute;

				// top: 190px;
				img {}
			}

			.circle {
				display: flex;
				position: absolute;
				top: 85px;
				left: calc((100vw - 1024px) / 2 + 25px);
				border-radius: 50%;
				padding: 8px;
				background: #e13737;
				box-shadow: 0 4px 44px 0 rgba(225, 55, 55, 0.7);
				width: 128px;
				height: 128px;
				color: #ffffff;
				white-space: nowrap;
				justify-content: center;
				align-items: center;
				font-size: 12px;
				z-index: 4;
			}

			.block {
				position: absolute;
				z-index: 2;
				top: 190px;
				left: calc((100vw - 1024px) / 2 + 125px);
				background-color: #fff;
				box-shadow: 0 4px 23px rgba(0, 0, 0, .25);
				border-radius: 16px 16px 0;
				max-width: 540px;
				padding: 24px;
				width: 25vw;

				.title {
					margin-bottom: 5%;
					font-size: 22px;
					line-height: 32px;
				}

				.text {
					font-size: 14px;
				}
			}
		}

		.container-2 {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			img {
				width: auto;
				border-radius: 8px;
				height: 70%;
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 540px) {
	.greeting {
		padding: 0px 20px;
		margin-bottom: 10%;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: flex-end;

		.container-1 {
			display: flex;
			position: absolute;

			.icon {
				display: none;
			}

			.circle {
				display: none;
			}

			.block {

				z-index: 2;
				top: -40px;

				position: relative;

				background-color: #fff;
				box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
				border-radius: 16px 16px 0;

				padding: 8px;
				width: calc(80vw);



				.title {
					display: flex;
					font-size: 16px;
					line-height: 32px;
					align-items: center;
					justify-content: center;
				}

				.text {
					display: none;
				}
			}
		}

		.container-2 {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			img {
				width: auto;
				border-radius: 8px;
				width: 100%;
			}
		}
	}
}





.projects {}

@media (min-width: 1000px) {
	.advantages {
		.title {
			display: flex;
			width: 100%;
			justify-content: center;
			font-size: 24px;
			font-weight: 400;
			margin-top: 30px;
		}

		.list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;


			.item {
				position: relative;
				width: 35%;


				.example {
					position: absolute;
					top: 23%;
					left: 18%;

					img {
						width: 100%;
					}
				}

				.background img {
					width: 100%;
					height: auto;
				}

				.title {
					width: 100%;
					display: flex;
				}


			}

			.item:last-child {
				top: 150px;
			}

			.item:last-child .background img {
				transform: rotate(180deg);
			}


			// .item:last-child {
			// 	display: flex;
			// 	justify-content: flex-end;
			// 	position: relative;
			// 	top: -180px;
			// }



		}
	}
}

@media (min-width: 320px) and (max-width: 540px) {
	.advantages {}
}



@media (min-width: 1000px) {
	.news {
		padding: 60px 100px;
		padding-bottom: 0;

		.title {
			font-size: 24px;
			font-weight: 600;
			padding-bottom: 20px;
		}

		.info {
			a{
				color: #000;
				text-decoration: none;
				display: flex;
				background-color: #F5F7F6;
				border-radius: 10px;
				
			}
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-column-gap: 30px;
			grid-row-gap: 0px;



			.block {
				display: flex;
   			background-color: #F5F7F6;
				flex-direction: column;
				justify-content: space-between;

				border-radius: 10px;

				.card {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;

					align-content: flex-start;


					.image {
						margin: 0;
						padding: 0;
						height: min-content;
						border-radius: 10px;
						object-fit: cover;

						img {
							width: 100%;
							height: auto;
							border-radius: 10px 10px 0 0;
						}

					}

					.date {
						font-size: small;
						font-weight: 350;
					}

					.text {
						display: flex;
						font-size: larger;
						padding: 10px;
						font-weight: 450;
						flex-direction: column;
					}

					.description {
						margin-top: 8px;
						width: 100%;
						font-size: large;
						font-weight: 300;

						display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}


				}

				.link {

					font-size: 15px;
					font-weight: 450;
					width: 100%;
					display: flex;
					justify-content: flex-end;
					padding: 20px;


				}
			}

			.block:first-child {
				.text {
					font-size: x-large;
					font-weight: 600;
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 540px) {
	
	.news {
	
		position: relative;
		margin-top: 150px;
		padding: 00px 20px 0px 20px;

		.title {
			font-size: 26px;
			font-weight: 600;
			padding-bottom: 20px;
		}

		.info {
			display: grid;

			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;

			gap: 12px;
			height: 100%;
				
			:first-child {


				grid-row-start: 1;
				grid-column-start: 1;

				grid-row-end: 2;
				grid-column-end: 3;

			}


			a{
				color: #000;
				text-decoration: none;
				
		
			


			

			.block {
				display: flex;
				background-color: #f9f8f8;
				flex-direction: column;
				justify-content: space-between;

				border-radius: 10px;

				.card {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;

					align-content: flex-start;


					.image {
						margin: 0;
						padding: 0;
						height: min-content;
						border-radius: 10px;

						img {
							width: 100%;
							height: auto;
							border-radius: 10px 10px 0 0;
						}

					}

					.date {
						margin-bottom: 3px;
						font-size: 10px;
						font-weight: 350;
					}

					.text {

						display: flex;
						font-size: larger;
						padding: 10px;
						font-weight: 450;
						flex-direction: column;
					}

					.description {
						margin-top: 8px;
						width: 100%;
						font-size: 13px;
						font-weight: 300;

						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						word-break: break-all;
					}

					.title {
						font-size: 14px;
						word-break: break-all;
					}


				}

				.link {

					font-size: 12px;
					font-weight: 450;
					width: 100%;
					display: flex;
					justify-content: flex-end;
					padding: 20px;
					padding-top: 0;
				}
			}

			.block:first-child {
				.text {
					.date {
						font-size: 12px;
						font-weight: 350;
						margin-bottom: 3px;
					}

					.title {
						font-size: 16px;
						font-weight: 600;
					}

					// .description {
					// 	margin-top: 8px;
					// 	width: 100%;
					// 	font-size: 14px;
					// 	font-weight: 300;

					// 	display: -webkit-box;
					// 	-webkit-line-clamp: 4;
					// 	-webkit-box-orient: vertical;
					// 	overflow: hidden;
					// 	word-break: break-all;
					// }
				}



			}
		}}
	}

}



@media (min-width: 1000px) {
	.reviews {
		padding: 0px 100px;
		display: flex;
		overflow: hidden;
		width: 100%;
		position: relative;

		.item {
			width: 100%;
			display: none;
		}

		.item.active {
			display: flex;
			justify-content: center;
			animation-duration: 3s;
			animation-name: appearance;
			position: relative;
		}

		.item.passive {

			justify-content: center;
			animation-duration: 3s;
			animation-name: disappearance;
			position: relative;
		}

		@keyframes appearance {
			from {

				left: 1000%;
			}

			to {
				left: 0;
			}
		}

		@keyframes disappearance {
			from {
				display: flex;
				left: 0;
			}

			to {
				left: -10000%;
				display: none;
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 540px) {
	.reviews {}
}










@media (min-width: 320px) and (max-width: 540px) {
	@keyframes ShowLeft {
		0% {
			opacity: 0;
			left: 20px;
		}

		100% {
			opacity: 1;
			left: 0;
		}
	}


	@keyframes ShowRight {
		0% {
			opacity: 0;
			left: -20px;
		}

		100% {
			opacity: 1;
			left: 0;
		}
	}
}

@media (min-width: 1000px) {
	@keyframes ShowLeft {
		0% {
			opacity: 0;
			left: 100px;
		}

		100% {
			opacity: 1;
			left: 0;
		}
	}

	@keyframes Show1 {
		0% {
			opacity: 0;
			left: 100px;
		}

		100% {
			opacity: 1;
			left: 4%;
		}
	}

	@keyframes Show4 {
		0% {
			opacity: 0;
			left: 100px;
		}

		100% {
			opacity: 1;
			left: 4%;
		}
	}

	@keyframes Show5 {
		0% {
			opacity: 0;
			left: 100px;
		}

		100% {
			opacity: 1;
			left: 4%;
		}
	}

	@keyframes ShowRight {
		0% {
			opacity: 0;
			left: -100px;
		}

		100% {
			opacity: 1;
			left: 0;
		}
	}
}


.test{
	display: flex;
	margin-top: 100px;
	position: relative;
	.card{
		width: 300px;
		height: 500px;
		background-color: #890505;
		position: relative;
	
	.pre-card{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff00;			
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, 1fr);
		.mini_card{
			display: flex;
			opacity: 1;
			background-color: #fff;
			transition: 1s ease-in-out;
			
		}
		.mini_card.active{
			opacity: 0;
			transition: 1s ease-in-out;
		}



	}
}



.container{
  display: inline-block;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: 
  typing 5s steps(20, end) infinite forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  0%, 100% { width: 0% }
  45%, 55% { width: 100% }
}
}