
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  scroll-behavior: smooth;


}
html{


}
h1,h2,h3,h4,img,svg, div{

}
@media (prefers-color-scheme: light) {
  body{
    overflow-x: hidden;
    background-color: #000000;
    color: #fff;
  }
} 
@media (prefers-color-scheme: dark) {
  body{
    overflow-x: hidden;
    background-color: #000000;
    color: #fff;
  }
}
img{
  border-radius: 2px;
}
body{
  
  background-color: #000000;
  height: 100%;
  max-width: 100%;
overflow-x: hidden;
}
section{
  scroll-margin-top: 100px;

}
// ::-webkit-scrollbar-thumb {
//   border: 5px solid transparent;
//   border-radius: 100px;
//   background: #a60f6c;
//   background-clip: content-box;
// }

::-webkit-scrollbar {
  width: 0;
}



// ::-webkit-scrollbar {
//   width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #a60f6c;
// }

